#about {
	position: relative;
	width: 1920px;
	height: 800px;
	margin: 0 auto;
}
#about .moup {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 800px;
	background-color: rgba(0,0,0,0.47);
}
.about-content {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 800px;
	transform: translate(-50%,-50%);
	width: 1140px;
	margin: 0 auto;
	color: #fff;
}
.about-content {
	font-size: 22px;
	line-height: 32px;
	font-family: Futura;
	text-align: center;
}
.about-content .about {
	margin: 130px 0;
}
.about-content .title {
	text-align: left;
}
.about-content .contact {
	margin-top: 35px;
}
.about-content .contact span {
	text-align: left;
	width: 50%;
	display: inline-block;
}
@media(max-width: 414px) {
	#about {
		width: 100%;
		overflow: hidden;
	}
	#about img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	#about .moup {
		width: 100%;
	}
	.about-content {
		width: 100%;
		font-size: 22px;
	}
	.about-content .about {
		margin: 0;
		padding: 20px 10px;
		line-height: 26px;
	}
	.about-content .title {
		padding-left: 10px;
	}
	.about-content .contact {
		padding-left: 10px;
	}
}