@font-face {
	font-family: Citadina;
	src: url("../font/CitadinaRegular.otf");
}
@font-face {
	font-family: Anodina-Regular;
	src: url("../font/Anodina-Regular.otf");
}
@font-face {
	font-family: Futura;
	src: url("../font/FuturaNo2DEE.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Anodina-Regular;
}
body {
	position: relative;
}
* {
	margin: 0;
	padding: 0;
}

h1,ul,hr,p {
	margin: 0 auto;
	padding: 0;
}
h1,h2 {
	font-family: Citadina;
	font-weight: 100;
}
hr {
	border: none;
}
li {
	list-style-type: none;
}
a, img,span {
	display: block;
}
a {
	text-decoration: none;
}
.clearfix:after {

  display: table;
  content: " ";
  clear: both;
}
button:active {
outline: none;
border: none;
}

/* 分页 */
#page-wrap {
	width: 1140px;
	margin: 0 auto;
	margin-top: 56px;
}
#page {
	float: right;
	position: relative;
	text-align: right;
}
#page li {
	margin-left: 10px;
	float: left;
	display: block;
	width: 34px;
	height: 34px;
	background-color: #a97d1f;
	text-align: center;
	border-radius: 50%;
	line-height: 34px;
	color: #fff;
	cursor: pointer;
}
#page .prev {
	line-height: 34px;
	font-size: 0;
	text-align: center;
	background: url(../icon/arrow-p.svg) center center no-repeat #a97d1f;
	transform: rotate(180deg);
	background-size: 18px 18px;
}
#page .next  {
		text-align: center;
	font-size: 0;
	background: url(../icon/arrow-p.svg) center center no-repeat #a97d1f;
	background-size: 18px 18px;
}
#loading {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 199;
}
#loading img {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%,0);
}
@media(max-width: 414px) {
	#page-wrap {
		width: 100%;
		margin-top: 20px;
	}
}