/* logo+nav */
#header-wrap {
	width: 100%;
	background-color: #000;
	margin-bottom: 60px;
	padding: 10px 0;
}
#header, #nav {
	margin: 0 auto;
	width: 1140px;
}
#header {
	position: relative;
}
#header .menu {
	display: none;
}
#nav-wrap .menux {
	display: none;
}
#logo img {
	margin: 0 auto;
	cursor: pointer;
}
#language {
	position: absolute;
	right: 0;
	top: 0;
}
#language span {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
#language .chinese {
	padding-left: 40px;
}
#nav-wrap {
	position: relative;
	width: 100%;
	height: 63px;
	margin-bottom: 38px;
	z-index: 99;
	background-color: #fff;
	top: 0;
}
#nav {
	position: relative;
	height: 63px;
	line-height: 63px;
	text-transform: uppercase;
	background-color: #fff;
}
#nav .nav-list {
	position: relative;
	display: inline-block;
	width: 16.3%;
	text-align: center;
	font-size: 22px;
	color: #000;
	cursor: pointer;
}
.nav-list>a {
	color: #000;
}
.sub-nav a {
	color: #fff;
}
.nav-list .active {
	color: #a97d1f;
}
.nav-list .arrow {
	position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
	display: inline-block;
	width: 25px;
	height: 18px;
	background: url(../icon/arrow-black.png) center center no-repeat;
	background-size: 25px auto;
}
/* 二级目录 */
.sub-nav {
	display: none;
	position: absolute;
	width: 300px;
	background-color: #000;
	color: #fff;
	text-align: left;
	padding: 24px 0;
	z-index: 99;
}
.sub-nav li {
	padding-left: 18px;
	font-weight: 100;
	font-size: 22px;
}
.sub-nav li a:hover {
	color: #a97d1f;
}
@media (min-width: 414px) {
	.nav-list:hover >a {
		color: #a97d1f;
	}
	.nav-list:hover >.sub-nav {
		display: block;
	}
	.nav-list:hover >.arrow {
		background: url(../icon/arrow-yellow.png) center center no-repeat;
		background-size: 25px auto;
	}
}

@media (max-width: 414px) {
	/* 导航 */
	#header-wrap {
		margin-bottom: 0;
	}
	#header {
		width: 100%;
	}
	#logo img {
		width: 60%;
		height: auto;
		margin-left: 6%;
	}
	#language {
    display: none;
	}
	#header .menu,#nav-wrap .menux {
		position: absolute;
		display: block;
		width: 34px;
		height: 34px;
		right: 10px;
		top: 0px;
		z-index: 99;
	}
	#nav-wrap .menux {
		width: 32px;
		height: 32px;
		top: 10px;
	}
	.menu img,.menux img {
		width: 100%;
		height: 100%;
	}
	#nav-wrap {
		position: absolute;
		width: 100%;
		/*height: 100%;*/
		height: 100%;
		min-height: 3000px;
		overflow: hidden;
		display: none;
	}
	#nav {
		padding-top: 40px;
		width: 100%;
		height: 100%;
		background-color: #000;
	}
	#nav .nav-list {
		width: 60%;
		display: block;
	}
	.nav-list .arrow {
		top: 25px;
		transform: translate(0,0);
	}
	#nav a {
		display: block;
		color: #fff;
		width: 40%;
		text-align: left;
		padding-left: 20px;
	}
	.sub-nav {
		position: initial;
	}
	.nav-list .arrow {
		width: 25px;
    height: 18px;
		background: url(../icon/arrow-white.png) center center no-repeat;
		background-size: 25px auto;
	}
	.sub-show {
		display: block;
	}
}