#slick {
	position: relative;
	width: 1920px;
	height: 700px;
}
#slick .slick-arrow {
	position: absolute;
	display: block;
	top: 50%;
	width: 60px;
	height: 60px;
	transform: translateY(-50%);
	z-index: 30;
	color: #fff;
	border-width: 0;
	font-size: 0;
	cursor: pointer;
}
#slick .slick-arrow:focus {
outline: 0;
border: 0;
}
#slick .slick-prev {
	left: 215px;
	background: url(../icon/button-prev.png) center center no-repeat;
	background-size: 60px 60px;
}
#slick .slick-next {
	right:215px;
	background: url(../icon/button-next.png) center center no-repeat;
	background-size: 60px 60px;
}
.slick-dots {
	bottom: 30px;
}

/* 欢迎介绍 */
#welcome {
	margin: 0 auto;
	width: 1140px;
}
#welcome h1 {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 32px;
}
#welcome hr {
	width: 1140px;
	height: 1px;
	background-color: #ddd;
}
#welcome p {
	margin-top: 20px;
	text-align: center;
	font-family: Futura;
	line-height: 32px;
	font-size: 22px;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}
#home-product {
	width: 1140px;
	margin: 0 auto;
	margin-top: 70px;
}
#home-product li {
	position: relative;
	margin-right: 3px;
	margin-bottom: 3px;
	float: left;
	width: 378px;
	height: 252px;
	cursor: pointer;
	overflow: hidden;
}
#home-product li:nth-child(3n+3) {
	margin-right: 0;
}
#home-product img {
	transition: all 1s;
}
#home-product img:hover {
	-ms-transform: scale(1.5, 1.5); /* IE 9 */
  -webkit-transform: scale(1.5, 1.5); /* Safari */
  transform: scale(1.5, 1.5);
}
#home-product li h2 {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	font-weight: lighter;
	text-align: center;
	background-color: rgba(0,0,0,0.34);
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/* 评价 */
.evaluate {
	width: 1140px;
	margin: 0 auto;
}
.evaluate h1 {
	margin: 60px 0;
	text-align: center;
}
.evaluate li {
	padding: 0 40px;
	border-right: 1px solid #ddd;
	width: 299px;
	height: 220px;
	float: left;
	color: #333;
	font-family: Futura;
	font-size: 22px;
}
.evaluate li:last-child {
	border-right: 0;
}
.evaluate .eva-con {
	margin-top: 24px;
}
.evaluate .author {
	margin-top: 24px;
	text-align: right;
}
.evaluate span {
	width: 200px;
	text-align: right;
	float: right;
}
@media (max-width: 414px) {
/* 轮播图 */
	#home-slick #slick {
		width: 100%;
		height: auto;
	}
	#slick .slick-prev {
		left: 10px;
		background-size: 34px 34px;
	}
	#slick .slick-next {
		right: 10px;
		background-size: 34px 34px;

	}
	#slick img {
		width: 100%;
	}
	#slick .slick-arrow {
	}
	#welcome {
		width: 100%;
	}
	#welcome h1 {
		font-size: 18px;
		margin: 0;
		line-height: 60px;
	}
	#welcome hr {
		width: 100%;
	}
	#welcome p {
		font-size: 18px;
	}
	#home-product {
		width: 100%;
	}
	#home-product li {
		margin-bottom: 10px;
		width: 100%;
		border: 1px solid #ddd;
	}
	#home-product img {
		width: 100%;
	}
	.slick-dots {
		bottom: 0px;
	}
	#home-slick .slick-dots li button:before {
		font-size: 16px;
	}
	#home-slick .slick-dots li {
		margin: 0;
	}
	.evaluate {
		width: 100%;
	}
	.evaluate h1 {
		font-size: 18px;
		margin: 0;
		margin-top: 30px;
	}
	.evaluate li {
		font-size: 18px;
		height: auto;
	}
}