#news-wrap {
	width: 1140px;
	margin: 0 auto;
}
.news {
	margin-bottom: 90px;
	height: 300px;
}
.news .left {
	position: relative;
	width: 430px;
	float: left;
}
.img-wrap {
	width: 220px;
	height: 189px;
	overflow: hidden;
	padding: 2px;
	background-color: #a97d1f;
}
.news .left .img2 {
	position: absolute;
	left: 39%;
	top: 45%;
}

.news .right {
	width: 710px;
	float: left;
}
.news .right h1 {
	font-size: 20px;
}
.news .right h1 a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.news .right h1 a,
.news .right p a,
.news .right .more a {
	color: #000;
}
.news .right .date {
	margin-top: 17px;
	margin-bottom: 27px;
	font-size: 16px;
	color: #939393;
	font-family: Futura;
}
.news .right p {
	font-size: 22px;
	font-family: Futura;
	word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 4; /** 显示的行数 **/
  overflow: hidden;  /** 隐藏超出的内容 **/
}
.news .right .more {
	margin-top: 50px;
	display: block;
	text-align: right;
	font-family: Citadina;
}

/* 新闻详情 */
.news-top {
	position: relative;
	height: 288px;
}
.news-top .img-wrap {
	margin: 0 auto;
}
.news-top .img2 {
	position: absolute;
	left: 52%;
	top: 33%;
}
.news-detail h1 {
	margin-top: 62px;
	margin-bottom: 42px;
	font-size: 20px;
}
.news-detail p {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 32px;
	font-family: Futura;

}
@media(max-width: 414px) {
	#news-wrap {
		margin-top: 20px;
		width: 100%;
	}
	.news {
		margin-bottom: 30px;
		height: auto;
	}
	.news .left {
		width: 100%;
		height: 200px;
	}
	.news .right {
		width: 100%;
	}
	.news .right h1 {
		padding: 0 10px;
		font-size: 18px;
	}
	.news .right p {
		padding: 0 10px;
		font-size: 18px;
	}
	.img-wrap {
		margin: 0 auto;
		width: 120px;
		height: 103px
	}
	.img-wrap img {
		width: 100%
	}
	.news .right .more {
		margin-top: 20px;
	}
	.news .left .img2 {
		left: 47%;
    top: 34%;
	}
	.news .right .date {
		padding-left: 10px;
	}
	.news-top {
		height: 200px;
	}
	.news-detail h1 {
		padding: 0 10px;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 18px;
	}
	.news-detail p {
		padding: 0 10px;
		font-size: 18px;
	}
}