#product-list {
	margin: 0 auto;
	width: 1140px;
}
#product-list li {
	position: relative;
	height: 424px;
	margin-bottom: 28px;
}
#product-list li span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 24px;
	width: 650px;
	height: 60px;
	text-align: center;
	background-color: rgba(255,255,255,0.4);
	color: #000;
	font-size: 18px;
	line-height: 60px;
}