#search-result {
	margin: 0 auto;
	width: 1140px;
}
#search-result h1 {
	font-size: 20px;
}
#search-result li a {
	font-size: 22px;
	color: #333;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top: 36px;
	font-family: Futura;
}
@media(max-width: 414px) {
	#search-result {
		margin-top: 20px;
		width: 100%;
	}
	#search-result h1 {
		padding: 0 10px;
		font-size: 18px;
	}
	#search-result li a {
		padding: 20px 10px;
		font-size: 18px;
		white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	}
}