#service {
	width: 1140px;
	margin: 0 auto;
}
#service h1 {
	font-size: 24px;
	margin: 41px 0;
	font-weight: 500;
}
#service p {
	font-size: 18px;
	line-height: 32px;
	font-family: Axure Handwriting;
}